	body{
		background: #ccc;
		margin: 0;
		padding: 0;
		font-family: Microsoft YaHei;
	}
	p{
		line-height: 30px;
	}
	.head{
		background: #444;
		height: 65px;
		min-width: 700px; 
	}
	.nav{
		float: right;
		line-height: 35px;
		display: inline-block;
	}
	.nav li{
		float: left;
		margin-right: 25px;
	}
	.nav li a{
		text-decoration: none;
		color: #fff;
	}
	#logo{
		width: 184px;
		height: 66px;
	}
	article{
		background: #fff;
		width: 80%;
		margin: 30px auto;
		padding: 30px;
		box-shadow: 2px 2px 5px #444;
	}
	article h2,span{
		color: #999;
	}
	.list li{
		text-align: center;
		width: 700px;
		height:700px;
		border: 3px solid #ccc;
		margin-bottom: 30px;
	}
	.list li img{
		margin: 20px;
	}
	table{
		border:1px solid #ccc;
		border-collapse: collapse; 
		text-align: left;
	}
	table th{
		border:1px solid #ccc;
		background: #444;
		color: #fff;
		width: 200px;
		padding: 10px;
	}
	table td{
		border:1px solid #ccc;
		padding: 10px;
	}
	table tr.all{
		background: #999;
		color: #fff;
	}
	.sidebar{
		background: #fff;
		width: 80%;
		margin: 30px auto;
		padding: 30px;
		box-shadow: 2px 2px 5px #444;
	}
	.sidebar h2{
		border-left:3px solid #ccc;
		padding: 0 10px;
	}
	label.left{
		display: inline-block;
		width: 30%;
		text-align: right;
	}
	.sign{
		display: inline-block;
		vertical-align: top;
		margin-bottom: 10px;

	}
	.sign p{
		font-size: 10px;
		color: #ccc;
		margin: 0;
	}
	textarea{
		width: 500px;
		height: 200px;
	}
	input[type="submit"]{
		display: block;
		margin: 0 auto;
		width: 80%;
		height: 30px;
		color: #fff;
		border: none;
		border-radius: 6px;
		background:blue;
		cursor:pointer;
	}